#tag::micronaut[]
micronaut:
  server:
    cors:
      enabled: true
      configurations:
        ui:
          allowed-origins:
            - http://localhost:3000
  security:
    oauth2:
      clients:
        google:
          redirect-uri: http://localhost:8100/oauth2/callback/google
        facebook:
          redirect-uri: http://localhost:8100/oauth2/callback/facebook
        apple:
          redirect-uri: http://localhost:8100/oauth2/callback/apple
        microsoft:
          redirect-uri: http://localhost:8100/oauth2/callback/microsoft
        github:
          redirect-uri: http://localhost:8100/oauth2/callback/github
        discord:
          redirect-uri: http://localhost:8100/oauth2/callback/discord
#end::micronaut[]

#tag::database[]
datasources:
  default:
    url: jdbc:postgresql://localhost:5432/auth_db
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    hikari:
      maximum-pool-size: ${DB_MAX_POOL_SIZE:5}
      minimum-idle: ${DB_MIN_IDLE:2}
      connection-timeout: ${DB_CONNECTION_TIMEOUT:30000}
      idle-timeout: ${DB_IDLE_TIMEOUT:600000}
      max-lifetime: ${DB_MAX_LIFETIME:1800000}
#end::database[]

#tag::jaeger[]
tracing:
  jaeger:
    sampler:
      probability: 1
#end::jaeger[]

#tag::oauth[]
social:
  oauth:
    redirect-base-url: http://localhost:8100
    encryption-secret: ${OAUTH_TOKEN_ENCRYPTION_SECRET}
    providers:
      google:
        redirect-uri: http://localhost:8100/oauth2/callback/google
      facebook:
        redirect-uri: http://localhost:8100/oauth2/callback/facebook
      apple:
        redirect-uri: http://localhost:8100/oauth2/callback/apple
      microsoft:
        redirect-uri: http://localhost:8100/oauth2/callback/microsoft
      github:
        redirect-uri: http://localhost:8100/oauth2/callback/github
      discord:
        redirect-uri: http://localhost:8100/oauth2/callback/discord
#end::oauth[]
