#tag::micronaut[]
micronaut:
  security:
    intercept-url-map:
      - pattern: /health
        access: isAnonymous()
  endpoints:
    health:
      enabled: true
      sensitive: false
      details:
        enabled: true
#end::micronaut[]

#tag::database[]
datasources:
  default:
    url: jdbc:postgresql://auth-db:5432/auth_db
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    hikari:
      maximum-pool-size: ${DB_MAX_POOL_SIZE:10}
      minimum-idle: ${DB_MIN_IDLE:5}
      connection-timeout: ${DB_CONNECTION_TIMEOUT:30000}
      idle-timeout: ${DB_IDLE_TIMEOUT:600000}
      max-lifetime: ${DB_MAX_LIFETIME:1800000}
flyway:
  datasources:
    default:
      validate-on-migrate: true
#end::database[]

#tag::jaeger[]
tracing:
  jaeger:
    sampler:
      probability: ${JAEGER_SAMPLER_PROBABILITY:0.1}
#end::jaeger[]

#tag::oauth[]
social:
  oauth:
    redirect-base-url: http://localhost:8100
    encryption-secret: ${OAUTH_TOKEN_ENCRYPTION_SECRET}
#end::oauth[]
